In [1]:
from powerbiclient import QuickVisualize, get_dataset_config
from powerbiclient.authentication import DeviceCodeLoginAuthentication
import pandas as pd
from datetime import datetime

In [2]:
# fazer a leitura dos dados
df = pd.read_csv('dataset_vendas_aleatorio.csv')
display(df.head(2))
df.info()

,EMPRESA,EXECUTIVO,PERIODO,P,M,G,META,REALIZADO,TM,TC,OBJETIVO_REALIZADO
0,1,Clara,2018-01-01,12,2,0,100000,102000.0,9286,14,1
1,1,Bruno,2018-01-01,18,2,0,100000,100000.0,4100,20,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EMPRESA             216 non-null    int64
 1   EXECUTIVO           216 non-null    object
 2   PERIODO             216 non-null    object
 3   P                   216 non-null    int64
 4   M                   216 non-null    int64
 5   G                   216 non-null    int64
 6   META                216 non-null    int64
 7   REALIZADO           216 non-null    float64
 8   TM                  216 non-null    int64
 9   TC                  216 non-null    int64
 10  OBJETIVO_REALIZADO  216 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 18.7+ KB

In [3]:
# re-gerando o dataframe com as transformações e tratamentos abaixo:

# - sem as colunas EMPRESA e TC
df = df.drop(['EMPRESA', 'TC'], axis=1)

# - convertendo a coluna PERIODO para datetime
df['PERIODO'] = df['PERIODO'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

# - somente os dados com TM (tícket médio) > maior que 5k
df = df.loc[df['TM'] > 5000]
df['PERIODO'] = pd.to_datetime(df['PERIODO'], format='%Y%m%d')
display(df.head(2))
df.info()

  EXECUTIVO    PERIODO   P  M  G    META  REALIZADO     TM  OBJETIVO_REALIZADO
0     Clara 2018-01-01  12  2  0  100000   102000.0   9286                   1
2    Simone 2018-01-01   6  1  1   70000    74200.0  11250                   1

<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 0 to 215
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EXECUTIVO           158 non-null    object
 1   PERIODO             158 non-null    datetime64[ns]
 2   P                   158 non-null    int64
 3   M                   158 non-null    int64
 4   G                   158 non-null    int64
 5   META                158 non-null    int64
 6   REALIZADO           158 non-null    float64
 7   TM                  158 non-null    int64
 8   OBJETIVO_REALIZADO  158 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 12.3+ KB

In [4]:
# autenticação microsoft Power BI   
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code FKL8VQMDZ to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [5]:
# gerar um report 
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)

In [13]:
# configurar o tamanho do report
# PBI_visualize.set_size(1920, 1080)

In [12]:
PBI_visualize

QuickVisualize(container_height=1920.0, container_width=1080.0)